@font-face {
    font-family: sap;
    src: url("./assets/LapsusPro-Bold.otf");
}

@keyframes backgroundScroll {
    0%   {background-position: 0;}
    100%  {background-position: calc(100vh * -1200/984);}
}

body {
    background: url("./assets/repeatable_field_blur.png") repeat-x center center fixed;
    background-size: auto 100%;
    animation: backgroundScroll 10s linear infinite;
}

::placeholder {
    color: #5D240B;
}

.gameContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.logo {
    height: auto;
    width: 500px;
}

.guess {
    display: inline-flex;
    justify-content: space-between;
    height: auto;
    width: 450px;
}

.guessBox {
    background-color: #CB5C35;
    height: 72px;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    border-radius: 10px;
}

.guessBox:hover {
    filter: brightness(120%);
}

.inputBox {
    display: flex;
    background-color: #ED732E;
    height: 60px;
    border-radius: 5px;
}

.input {
    background-color: rgba(0, 0, 0, 0);
    height: 60px;
    width: 260px;
    border-style: none;
    margin-left: 5px;
    font-family: sap;
    font-size: 40px;
    color: #5D240B;
}

.input:focus {
    outline: none;
}

.petImage {
    height: 50px;
    width: auto;
    margin-top: 5px;
    margin-left: 5px;
}

.enterButton {
    background-color: rgba(0, 0, 0, 0);
    height: 60px;
    width: 72px;
    border-style: none; 
}

.enterArrow {
    height: auto;
    width: 40px;
    margin-left: 5px;
}

.guessList {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.guessListObject {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.listLabel {
    display: flex;
    height: 80px;
    width: 116.365px;
    justify-content: center;
    align-items: center;
    background-image: url("./assets/sap_ui_transparent_aligned.png");
    background-size: 100% auto;
    margin-left: 2px;
    margin-right: 2px;
    font-family: sap;
    font-size: 30px;
    color: black;
}

.infoBox {
    display: flex;
    height: 72px;
    width: 120.365px;
    justify-content: center;
    align-items: center;
}

.infoBoxOuter {
    height: 72px;
    width: 85px;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    border-radius: 10px;
}

.infoBoxInner {
    display: flex;
    height: 60px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    font-family: sap;
    color: black;
    text-align: center;
}

.abilityLabel {
    padding: 5px;
    font-size: 15px;
}