@font-face {
    font-family: sap;
    src: url("./assets/LapsusPro-Bold.otf");
}

@keyframes backgroundScroll {
    0% {
        background-position: 0;
    }
    100% {
        background-position: calc(100vh * -1200/984);
    }
}

@keyframes flip {
    0% {
        transform: rotateX(0deg);
    }
    25% {
        transform: rotateX(90deg);
    }
    50% {
        transform: rotateX(0deg);
    }
    75% {
        transform: rotateX(90deg);
    }
    100% {
        transform: rotateX(0deg);
    }
}

body {
    background: url("./assets/repeatable_field_blur.png") repeat-x center center fixed;
    background-size: auto 100%;
    animation: backgroundScroll 10s linear infinite;
}

::placeholder {
    color: #5D240B;
}

.gameContainer {
    display: flex;
    flex-direction: column;
    height: 45vh;
    width: 100%;
    align-items: center;
}

.logo {
    height: calc(45vh - 82px);
    width: auto;
}

.guess {
    display: flex;
    justify-content: space-between;
    height: auto;
    width: 34vw;
    min-width: 300px;
    --guess-width: calc(max(34vw, 300px));
}

.guessAndSuggestionsBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.guessBox {
    background-color: #CB5C35;
    height: 72px;
    width: calc(var(--guess-width) - 100px);
    border-style: solid;
    border-width: 5px;
    border-color: black;
    border-radius: 10px;
}

.guessBox:hover {
    filter: brightness(120%);
    .petImage {
        filter: brightness(80%);
    }
    .input {
        filter: brightness(80%);
    }
}

.inputBox {
    display: flex;
    align-items: center;
    background-color: #ED732E;
    height: 60px;
    border-radius: 5px;
}

.input {
    background-color: rgba(0, 0, 0, 0);
    height: 60px;
    width: calc(var(--guess-width) - 100px - 70px);
    border-style: none;
    font-family: sap;
    font-size: 40px;
    color: #5D240B;
}

.input:focus {
    outline: none;
}

.petImageBox {
    display: flex;
    min-width: 60px;
    justify-content: center;
    align-items: center;
}

.petImage {
    max-height: 50px;
    max-width: 50px;
}

.enterBox {
    background-color: #CB5C35;
    height: 72px;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    border-radius: 10px;
}

.enterBox:hover {    
    filter: brightness(120%);
    .enterArrow {
        filter: brightness(80%);
    }
}

.enterButton {
    background-color: rgba(0, 0, 0, 0);
    height: 60px;
    width: 72px;
    border-style: none; 
}

.enterArrow {
    height: auto;
    width: 40px;
    margin-left: 5px;
}

.suggestions {
    background-color: #f7cc8c;
    max-height: 39.5vh;
    width: calc(var(--guess-width) - 100px - 35px);
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    z-index: 1;
    border-style: solid;
    border-width: 20px;
    border-image: url(./assets/Wooden_Border2.png);
    border-image-slice: 35;
    border-image-repeat: round;
    border-image-outset: 2px 4px 5px 4px;
}

.suggestionBox {
    display: flex;
    align-items: center;
    justify-items: center;
    font-family: sap;
    font-size: 30px;
    color: black;
    border-radius: 5px;
}

.suggestionBox:hover {
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.2);
}

.guessList {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-top: 10px;
    transform: rotate(180deg);
}

.guessListObject {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    transform: rotate(180deg);
}

.listLabels {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}

.listLabel {
    display: flex;
    height: calc(min(120px, 15vw) * 16000/23273);
    width: 15vw;
    max-width: 120px;
    justify-content: center;
    align-items: center;
    background-image: url("./assets/sap_ui_transparent_aligned.png");
    background-size: 100% auto;
    margin-left: 2px;
    margin-right: 2px;
    font-family: sap;
    font-size: calc(min(120px, 15vw) / 4);
    color: black;
}

.infoBox {
    display: flex;
    height: 72px;
    width: calc(15vw + 4px);
    max-width: 124px;
    justify-content: center;
    align-items: center;
    animation: flip 1s linear;
}

.infoBoxOuter {
    height: 72px;
    width: calc(15vw - 20px);
    max-width: 100px;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    border-radius: 10px;
    background-color: #414141;
}

.infoBoxInner {
    display: flex;
    height: 60px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    font-family: sap;
    color: black;
    text-align: center;
}

.abilityLabel {
    padding: 5px;
    font-size: 15px;
}

.hintPetImage {
    max-height: 50px;
    width: auto;
    max-width: calc(min(15vw - 20px, 100px));
}

.packImage {
    height: auto;
    width: auto;
}